<html>
    <head>
        <title>BLAST Search</title>
        <link rel = "stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel = "stylesheet" type = "text/css" href="/stylesheets/app.css">
        <link rel="icon" href="public/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class = "ui fixed inverted menu olive">
            <div class="ui container">
                <div class = "header item"><i class = "dna icon"></i> <a href="/">BLAST</a></div>
               
                <a href="/search" class="item">New Search</a>
                <a href="/pastSearch" class="item">Search List</a>
            </div> 
        </div>
