<% include ./partials/header %>
<div class="ui container main">
    <h1>Hello! Welcome to the BlastP Search Website</h1>
    <h2>What is this website?</h2>
    <p>This website is a project designed to use the National Center for Biotechnology Information's Blast Search API. A BLAST search 
    is a useful tool in biomedical research to search for known genes or proteins in NCBI databases based on nucleotide or amino acid sequences. For now, this website compares protein sequences to known proteins.</p>
    <p>I designed it so that one could perform searches and look back on them later.</p>
    <h2>How do I use it?</h2>
    <p>Just click on the <a href="/search">search link</a>. Knowing that most people won't have amino acid or nucleotide sequences on hand, there are several default sequences that you can choose from to begin.</p>
    <h2>What is your next step in improving it?</h2>
    <p>I'm planning on adding more graceful error checking and user accounts so that each user will see only their searches in the Search List.</p>
    <p>Of course, I also plan on dressing up the website as well with some CSS</p>
</div>
<% include ./partials/footer %>