<% include ./partials/header %>
  <div class="container ui main">
    <h1>RESULTS</h1>
    <h4>The Evalue represents the similarity of the submitted and matched sequences. Smaller evalues represent closer matches</h4>
    <p>Search Title: <%=search.title%></p>
    <p>Search Date: 
    <%var date = search.created;
    var myDate = new Date(date.toUTCString());%>
    <%=myDate.toLocaleString()%></p>
   
    <% search.hit.forEach(function(hit){ %>
      <div class= "ui vertical segment">
        <span>Title: <%= hit.title%></span>
        <p>Evalue: <%=hit.Evalue%></p>
      </div>
    <% }) %>
  </div>
<% include ./partials/footer %>