<% include ./partials/header %>
  <div class="container ui main">
    <h1>RESULTS</h1>
    <h4>The Evalue represents the similarity of the submitted and matched sequences. Smaller evalues represent closer matches</h4>
    <p>Search Title: <%=search.title%></p>
    <p class="date">
    <%= search.created;%>
    </p>
   
    <% search.hit.forEach(function(hit){ %>
      <div class= "ui vertical segment">
        <span>Title: <%= hit.title%></span>
        <p>Evalue: <%=hit.Evalue%></p>
      </div>
    <% }) %>
  </div>
  <script>
    var dateList = document.getElementsByClassName("date");
    for (var i = 0; i <dateList.length; i++){
      var localDate = new Date(dateList[i].textContent);
      dateList[i].textContent = "Date Searched: " + localDate.toLocaleString();
    }
  </script>
<% include ./partials/footer %>