<% include ./partials/header %>
  <h1>YOU ARE CURRENTLY WAITING</h1>
  <h2>Why do I have to wait?</h2>
  <p>The blast tool takes time to complete, and out of respect of the NCBI's use
     guidelines an HTTP request is sent checking the query status once a minute.</p>
  <p>The page will be updated every minute. </p>
<% include ./partials/footer %>